<template>
    <!--@@@--- CARD GERAL EXTERNO DA PAGINA -->
    <div class='mt-7'>
        <!--@@@--- CARD SUPERIOR DE TITULO E CAROUSEL -->
        <v-row justify="center">
            <v-col cols='12' lg='10' md='11' sm='12'>
                <v-card>
                    <!--Para tela maior -->
                    <h2 class="hidden-sm-and-down text-center white--text font-weight-black display-2 py-3 my-5" 
                        style="background-color: rgb(57, 81, 214,0.7;">
                        <v-avatar class="pb-2" color="rgb(gb(57, 81, 214,0.7)">
                        <v-icon color="white" x-large>mdi-home-flood</v-icon>
                        </v-avatar>
                        {{hotel.nome}}
                    </h2>

                    <!--Para tela menor -->
                    <h2 class="hidden-md-and-up text-center white--text font-weight display-1 py-3 my-5" 
                        style="background-color: rgb(57, 81, 214,0.7;">
                        <v-avatar class="pb-2" color="rgb(gb(57, 81, 214,0.7)">
                        <v-icon color="white" x-large>mdi-home-flood</v-icon>
                        </v-avatar>
                        {{hotel.nome}}
                    </h2>
                    
                    <!-- Row de dentro do CARD maior-->
                    <v-row justify="center">
                        <!-- Col do Carousel com as Imagens do Hotel-->
                        <v-col cols='12' lg='7' md='8' sm='12'>      
                            <v-carousel v-if="images">
                                <v-carousel-item
                                    v-for="(image,i) in images"
                                    :key="i"
                                    :src="image"
                                    reverse-transition="fade-transition"
                                    transition="fade-transition"
                                ></v-carousel-item> 
                            </v-carousel> 

                            <v-img v-else
                                :src="hotel.capa"
                            ></v-img>     
                        </v-col>
                        
                        <!-- Col direito para a reserva-->
                        <v-col cols='10' lg='5' md='5' sm='12'>
                            <p class="px-2" color="text--grey">{{hotel.descricao_curta}}</p>
                            <p class="px-2">A partir de:</p>
                            <h1 class="px-5">{{hotel.valor}}</h1>

                        <!-- Itens de Calendario-->
                        <v-row justify="center">
                            <!-- Card do Calendario 1-->
                            <v-col>
                                <v-card class="px-3">
                                    <v-menu
                                        v-model="menu1"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        max-width="290px"
                                        min-width="290px"
                                        >
                                        <template v-slot:activator="{ on }">
                                            <v-text-field
                                            class="hidden-sm-and-down"
                                            v-model="computedDateFormatted"
                                            label="Escolha data de chegada"
                                            persistent-hint
                                            prepend-icon="mdi-calendar"
                                            readonly
                                            v-on="on"
                                            ></v-text-field>

                                            <v-text-field
                                            class="hidden-md-and-up px-2"
                                            v-model="computedDateFormatted"
                                            label="Escolha data de chegada"
                                            persistent-hint
                                            readonly
                                            v-on="on"
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
                                    </v-menu>
                                </v-card>
                            </v-col>

                            <!-- Card do Calendario 2-->
                            <v-col>
                                <v-card class="mr-1 px-3">
                                    <v-menu
                                        v-model="menu2"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        max-width="290px"
                                        min-width="290px"
                                        >
                                        <template v-slot:activator="{ on }">
                                            <v-text-field
                                            class="hidden-sm-and-down"
                                            v-model="computedDateFormatted2"
                                            label="Escolha data de partida"
                                            persistent-hint
                                            prepend-icon="mdi-calendar"
                                            readonly
                                            v-on="on"
                                            ></v-text-field>

                                            <v-text-field
                                            class="hidden-md-and-up px-1"
                                            v-model="computedDateFormatted2"
                                            label="Escolha data de partida"
                                            persistent-hint
                                            readonly
                                            v-on="on"
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker v-model="date2" no-title @input="menu2 = false"></v-date-picker>
                                    </v-menu>
                                </v-card>
                            </v-col>
                        </v-row>

                        <!-- Itens dos Botoes de criancas e adultos-->
                        <v-row justify="center">
                            <v-col cols="6">
                                <v-card>
                                    <v-card-text class="font-weight-bold">Crianças</v-card-text>
                                    <v-card-title class="justify-space-around">
                                        <v-btn icon color="red" @click="minusBtn1()"><v-icon>mdi-minus</v-icon></v-btn>
                                        <p>{{num1}}</p>
                                        <v-btn icon color="green" @click="plusBtn1()"><v-icon>mdi-plus</v-icon></v-btn>
                                    </v-card-title>
                                </v-card>
                            </v-col>
                            
                            <v-col cols="6">
                                <v-card>
                                    <v-card-text class="font-weight-bold">Adultos</v-card-text>
                                    <v-card-title class="justify-space-around">
                                        <v-btn icon color="red" @click="minusBtn2()"><v-icon>mdi-minus</v-icon></v-btn>
                                        <p>{{num2}}</p>
                                        <v-btn icon color="green" @click="plusBtn2()"><v-icon>mdi-plus</v-icon></v-btn>
                                    </v-card-title>
                                </v-card>
                            </v-col>
                        </v-row>
                        
                        <!-- Botao de Verificar Reserva-->
                        <v-btn @click="verifyReserve()" class="mt-5" large color="teal lighten-2 white--text" block>
                            <v-icon class="mx-3">mdi mdi-star-four-points</v-icon>
                            Verificar Reserva 
                        </v-btn>
                        </v-col>
                    </v-row>
                </v-card>

                <v-expand-transition>
                    
                </v-expand-transition>
            </v-col>

            <!-- Card Maior Abaixo-->
            <v-col cols='12' lg='11' md='11' sm='12'>
                <v-card class="pb-5 pt-5 mx-4" style="background-color: rgb(200,200,200,0.4);">
                    <v-card-text>{{hotel.descricao_longa}} {{hotel.descricao_curta}}</v-card-text>
                    <v-row justify="center">
                        <v-col cols="12" lg="6" v-if="hotel.estrutura_leitos">
                            <v-card-title>Condições nos Leitos</v-card-title>
                            <v-btn small class="mx-2 my-2" rounded outlined color="teal"
                                v-for="(item, i) in hotel.estrutura_leitos" :key="i"
                            ><v-icon small class="pr-1">{{item.icone}}</v-icon>
                                {{item.titulo}}
                            </v-btn>
                        </v-col>

                        <v-col cols="12" lg="6" v-if="hotel.estrutura_hotel">
                            <v-card-title>Condições no Hotel</v-card-title>
                            <v-btn small class="mx-2 my-2" rounded outlined color="teal"
                                v-for="(item, i) in hotel.estrutura_hotel" :key="i"
                            ><v-icon small class="pr-1"> {{item.icone}}</v-icon>
                                {{item.titulo}}
                            </v-btn>
                        </v-col>
                    </v-row>

                    <!-- Card Estrutura -->
                    <v-card-title>Estrutura</v-card-title>
                        <v-row justify='center'> 
                            <v-col cols='12' lg='4' md='5' sm='5' xs='5'
                                v-for="(item, j) in estrutura"
                                :key="j"
                                >
                                    <v-carousel class="carousel" height="300px" cycle hide-delimiters show-arrows-on-hover>
                                        <v-carousel-item 
                                            v-for="(objeto, i) in item.itens"
                                            :key="i"
                                            :src="objeto.img"
                                        >
                                            <v-row 
                                                class="fill-height body-2 white--text mr-5"
                                                align="end" justify="center"
                                                >
                                                <v-col cols="12" style="background-color: rgb(169,169,169,0.3);">
                                                    <h3 class="font-weight-black px-5">{{item.nome}}</h3>
                                                    <p class="px-5">{{objeto.descricao}}</p>
                                                </v-col>
                                            </v-row>
                                        </v-carousel-item>
                                     </v-carousel>
                            </v-col>
                        </v-row>

                    <!-- Cards de Apartamentos -->
                    <v-card-title>Apartamentos</v-card-title>
                    <v-card-text>Estão são as opções de apartamentos oferecidas pelo hote. Escolha o que vai melhor lhe atender!</v-card-text>
                    <v-card-actions>
                        <v-row justify='center'> 
                            <v-col cols='12' lg='4' md='5' sm='5' xs='5'
                                v-for="(apartamento, j) in hotel.apartamentos"
                                :key="j"
                                >
                                <v-hover
                                    v-slot:default="{ hover }"
                                    open-delay="100"
                                >
                                    <v-card :elevation="hover ? 16 : 2">
                                        <v-carousel class="carousel" height="300px" cycle hide-delimiters show-arrows-on-hover>
                                            <v-carousel-item 
                                                v-for="(images, i) in apartamento.img"
                                                :key="i"
                                                :src="images"
                                            ></v-carousel-item>
                                        </v-carousel>
                                        
                                        <v-card-title>{{apartamento.titulo}}</v-card-title>
                                        <v-card-subtitle>{{apartamento.num_pessoas}}</v-card-subtitle>
                                        
                                        <v-expand-transition>
                                            <div v-if="apartamento.show" class="mx-3">
                                                <v-divider></v-divider>
                                                <p class="mt-1 text-justify">{{apartamento.descricao.substr(0, 150)}}...</p>
                
                                                <!-- Botao de retorno (somente para abrir) -->
                                                <v-btn
                                                    v-if="apartamento.descricao.length > 150"
                                                    icon 
                                                    @click="apartamento.show = !apartamento.show" 
                                                    color="black"    
                                                ><v-icon>{{ apartamento.show  ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-up' }}</v-icon>
                                                </v-btn>
                                            </div>
                                            <div v-else>
                                                <v-divider></v-divider>
                                                <v-card-text class="text-justify">{{apartamento.descricao}}</v-card-text>
                                            </div>
                                        </v-expand-transition>

                                        <h2 class="mx-3">{{apartamento.valor}}</h2>
                                        
                                        <v-btn text class="orange--text" to="">Reservar</v-btn>
                                    </v-card>
                                </v-hover>  
                            </v-col>
                        </v-row>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>

export default {
    name: "Hoteis_Links",
    data() {
        return {
            hotel_id: '',
            show: true,
            num1: 0,
            num2: 0,
            images: [],
            estrutura: [],
            date: new Date().toISOString().substr(0, 10),
            date2: new Date().toISOString().substr(0, 10),
            dateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
            dateFormatted2: this.formatDate(new Date().toISOString().substr(0, 10)),
            menu1: false,
            menu2: false,

            hotel: {
                nome: '',
                descricao_curta: '',
                descricao_longa: '',
                regulamento: '',
                valor: '',
                localizacao: '',
                animais: '',
                politicas: '',
                lazer: '',
                capa: '',
                estrutura_leitos: [],
                estrutura_hotel: [],
                apartamentos: [],
            },
        }
    },
    created () {
        //Setando variaveis localStorage
        //Se a variavel de ambiente existir
        if (localStorage.getItem('hotel_id')) {
            this.$store.dispatch('changeHotel', localStorage.getItem('hotel_id'));
        } else { //Se a variavel de ambiente nao existir direciona para a pag de hoteis
            this.$router.push({path: 'hoteis'});
        }
    },
    mounted() {
        var hotel_id = this.$store.state.hotel_ref.id;
        const db = this.$firebase.firestore();
        var homeRef = db.collection("home");
        
        //@@@@---- PEGANDO DADOS TEMPORARIOS DO SERVIDOR;
        this.loadImages(hotel_id,homeRef);
        this.loadHotelApart(hotel_id,homeRef); 
        this.loadHotelStructure (hotel_id,homeRef); 
    },

    computed: {
      computedDateFormatted () {
        return this.formatDate(this.date)
      },
      computedDateFormatted2 () {
        return this.formatDate(this.date2)
      },
    },
    watch: {
      date () {
        this.dateFormatted = this.formatDate(this.date)
      },

      date2 () {
        this.dateFormatted2 = this.formatDate(this.date2)
      },
    },

    methods: {
        loadImages(ident,homeRef) {
            //@@@@---- CARREGANDO VETOR DE IMAGENS
            var estabRef = homeRef.doc('hoteis').collection("estabelecimentos");
            estabRef.doc(''.concat(ident)).collection("imagens").doc("principais").get().then(doc => {
                if (doc.exists) {
                    this.images = doc.data().principais;
                } else {
                    // doc.data() will be undefined in this case
                    console.log("No such document! - images");
                }
            })
        },
        loadHotelApart(ident,homeRef) {
            //@@@@---- CARREGANDO TEXTOS
            var estabRef = homeRef.doc('hoteis').collection("estabelecimentos");
            estabRef.doc(''.concat(ident)).get().then(doc => {
                if (doc.exists) {
                    this.hotel = doc.data();
                    //Colocando o sifrao nos valores
                    this.hotel.valor = "R$ ".concat(this.hotel.valor+",00") 
                    this.hotel.apartamentos.forEach(element => {
                        element.valor = "R$ ".concat(element.valor+",00")
                        if (element.descricao.length > 150){ element.show = true;
                        } else { element.show = false;}
                        //colocando vetor de imagens dos apartamentos
                        estabRef.doc(''.concat(ident)).collection("imagens").doc("apartamentos").get().then(apatimg => {
                            if (doc.exists) { element.img = apatimg.data()[element.id]
                            } else {console.log("No such document! - imagens apartamentos");}
                        })  
                    });
                } else {console.log("No such document! - texts");}
            })
        },
        loadHotelStructure (ident,homeRef) {
            //@@@@---- CARREGANDO ITENS
            var estabRef = homeRef.doc('hoteis').collection("estabelecimentos");
            estabRef.doc(''.concat(ident)).collection("imagens").doc("estrutura").get().then(itens => {
                if (itens.exists) {
                    for (var prop in itens.data()) {
                        this.estrutura.push(itens.data()[prop])
                    } 
                } else {console.log("No such document! - imagens apartamentos")}
            })
        },
        
        verifyReserve () {
            alert("Check-In: " + this.dateFormatted + " Check-Out: " + this.dateFormatted2)
            alert("Crianças: " + this.num1 + "  Adultos: " + this.num2)
        },

        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },

        plusBtn1() {
            if (this.num1=='19') {
                alert("Thank You! please contact us to make a reserve for more than 20 people");
            } else {
                this.num1++;
            }
        },

        minusBtn1() {
            if (this.num1=="0") {
                this.num1=0;
            } else {
                this.num1--;
            }
        },

        plusBtn2() {
            if (this.num2=="19") {
                alert("Thank You! please contact us to make a reserve for more than 20 people");
            } else {
                this.num2++;
            }
        },

        minusBtn2() {
            if (this.num2=="0") {
                this.num2=0;
            } else {
                this.num2--;
            }
        }
    },
}
</script>

