<template>
  <!--@@@--- CARD GERAL EXTERNO DA PAGINA -->
  <div class='mt-7'>
    <!--@@@--- CARD SUPERIOR DE TITULO E CAROUSEL -->
    <v-row justify="center">
        <v-col cols='12' lg="9" md='9' sm='12'>
          <v-card>
            <!--Para tela maior -->
            <h2 class="hidden-sm-and-down text-center white--text font-weight-black display-2 py-3 my-5" 
                style="background-color: rgb(57, 81, 214,0.7;">
                <v-avatar class="pb-2" color="rgb(gb(57, 81, 214,0.7)">
                  <v-icon color="white" x-large>mdi-home-flood</v-icon>
                </v-avatar>
                {{page_title}}
            </h2>

            <!--Para tela menor -->
            <h2 class="hidden-md-and-up text-center white--text font-weight display-1 py-3 my-5" 
                style="background-color: rgb(57, 81, 214,0.7;">
                <v-avatar class="pb-2" color="rgb(gb(57, 81, 214,0.7)">
                  <v-icon color="white" x-large>mdi-home-flood</v-icon>
                </v-avatar>
                {{page_title}}
            </h2>

            <v-row justify="center">
              <v-col cols='12' lg='12'> 
                <v-carousel
                  height="450px"
                  cycle
                  hide-delimiters
                  show-arrows-on-hover
                >
                  <v-carousel-item
                    v-for="(slide, i) in slides"
                    :key="i"
                    :src="images[i]"
                  >
                    <v-row 
                      class="fill-height body-2 white--text mx-5"
                      align="end"
                      justify="center"
                      >
                      <v-col cols="12" style="background-color: rgb(169,169,169,0.3);">
                        <div class="font-weight-black">
                          <h3 class="display-1">{{slide}}</h3>
                          <p>Subtítulo</p>
                        </div>
                      </v-col>
                    </v-row>
                  </v-carousel-item>
                </v-carousel>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
    </v-row>

    <v-row justify="start">
      <!--@@@--- CARD ESQUERDA DE MENU -->
      <v-col cols="12" lg="3" md="3" sm="12">
        <v-card class="pb-5 mx-4" style="background-color: rgb(200,200,200,0.3);">
          <v-card-title class="white--text" style="background-color: rgb(100,100,100);">FILTROS</v-card-title>
          <v-card-text class="mt-4 text-justify">
            Ao selecionar somente serão mostrados os hoteis que tenham os ítens dos filtros em seleção.
          </v-card-text>
          
          <!-- Filtro para telas grandes-->
          <div class="hidden-sm-and-down" v-for="(filter, i) in filters" :key="i">
            <v-switch class="ma-2" v-model="filter_array[i]" :label="filter"></v-switch>
          </div>

          <!-- Filtro para telas pequenas-->
          <div class="hidden-md-and-up">
            <v-select class="mx-2"
              v-model="value"
              :items="filters"
              attach
              chips
              label="Filtros"
              multiple
            ></v-select>
          </div>
        </v-card>
      </v-col>
      
      <!--@@@--- CARD DIREITA DE CARDS DE HOTEIS -->
      <v-col cols="12" lg="9" md="9" sm="12">
        <v-card class="pb-5 pt-5 mx-4" style="background-color: rgb(200,200,200,0.5);">

          <!--@@@--- BLOCO DE TEXTO SUPERIOR COM TABS DE PERGUNTAS -->
          <h2 class="text-center teal lighten-1 white--text">POR QUE?</h2>
          <v-tabs horizontal
            class="hidden-sm-and-down"
            v-model="tab"
            background-color="teal lighten-2"
            color="white"
            grow
          >
            <v-tab v-for="(title, i) in titles.titles" :key="i">
              {{ title }}
            </v-tab>
          </v-tabs>

          <v-tabs vertical
            class="hidden-md-and-up"
            v-model="tab"
            background-color="teal lighten-2"
            color="white"
            grow
          >
            <v-tab v-for="(title, i) in titles.titles" :key="i">
              {{ title }}
            </v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item
              v-for="explain in titles.explains"
              :key="explain"
            >
              <v-card color="gray" flat>
                <v-card-text>{{ explain }}</v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>

          <!--@@@--- CARDS DE HOTEIS -->
          <v-card-actions>
            <v-row justify='center'> 
              <v-col cols='12' lg='4' md='5' sm='5' xs='5'
                v-for="(card, j) in cards"
                :key="j"
                :src="j">
                <v-hover
                  v-slot:default="{ hover }"
                  open-delay="100"
                >
                  <v-card :elevation="hover ? 16 : 2">
                    <c-sell-card 
                      :s_title="card.title"
                      s_subtitle=""
                      :s_description="card.descricao"
                      s_opcionais=""
                      :s_valores=card.valor
                      :s_img="card.capa"
                      :s_show="true"
                      s_width="340"
                      s_btn1=""
                      s_btn2=""
                      :s_id="card.id"
                      s_type="hotel"
                    />
                  </v-card>
                </v-hover>  
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import SellCard from '../../components/SellCard.vue'
export default {
  name: 'Hoteis',
  components: {
    'c-sell-card': SellCard,
  },
  mounted () { 
    const db = this.$firebase.firestore();
    var hoteisRef = db.collection("home").doc("hoteis");

    //@@@@---- CARREGANDO TODO CONTEÚDO DO CARD 3    
    hoteisRef.collection("estabelecimentos").get().then((querySnapshot) => {
      querySnapshot.forEach(hotel => {     
        if (hotel.exists) {
          //---- CARREGANDO CARDS DO CARD 3 
          this.populateCards(hotel);
        } else {
        // doc.data() will be undefined in this case
        console.log("No such document! - card 3");
      }
      })
    })

    //@@@@---- CARREGANDO OS FILTROS
    hoteisRef.get().then(doc => {
      if (doc.exists) { 
        this.filters = doc.data()['filtros']
        for (let i=0; i<this.filters.length; i++) {
          this.filter_array.push(false);
        }
      }
      else {console.log("No such document! - filtros");}
    })  
  },
  methods: {
    populateCards (myhotel) {
      var hotel = myhotel.data();
      this.cards.push({
        id: myhotel.id,
        title: hotel.nome,
        descricao: hotel.descricao_curta,
        capa: hotel.capa,
        valor: `R$ ${hotel.valor},00`,
      })
    },

    doFilter(indice){
      console.log("filtrando");
      this.filter_array[indice] = true;
    }
  },
  data() {
    return {
      tab: null,
      page_title: 'Hotéis e Pousadas em Bonito',
      value: [],
      filters: [],
      filter_array: [],

      titles: {
        titles: [
          'Gastar com Hospedagem?',
          'Hotéis?',
          'Pousadas?',
        ],
        explains: [
          'Quando saímos do conforto de nossas casas desejamos nos hospedar em um local que nos transmita qualidade e tranquilidade. Em Bonito MS você e sua família encontrarão as melhores opções de hotéis, pousadas, albergue, resort, área de camping e locações de casas para temporada. Por isso, pense bem e escolha a opção que mais lhe agrada, porque as nossas viagens são momentos que serão recordados por toda vida.',
          'Os hotéis tem uma estrutura maior que as pousadas e por isso oferecem mais opções para seus clientes e um ambiente propicio para trazer mais conforto.',
          'As pousadas possuem poucos apartamentos e tem características mais familiares. Proporciona menos serviços em relação aos hotéis, mas nem por isso perde seu encanto em oferecer uma hospedagem de qualidade e com muito charme.'
        ]
      },

      cards: [],
      images: [
        'http://www.guia-bonito.com/imagens/hoteis/wetiga/fachada_capa.jpg',
        'http://www.guia-bonito.com/imagens/hoteis/aguas_bonito/piscina_capa.jpg',
        'http://www.guia-bonito.com/imagens/hoteis/zagaia/estrutura_capa.jpg',
        'http://www.guia-bonito.com/imagens/hoteis/marrua/marruag.jpg'
      ],
      slides: [
        'texto1',
        'texto2',
        'texto3'
      ],
    };
  }
}
</script>