<template>
  <div class="home">
           
    <v-carousel class="carousel"
      cycle
      hide-delimiters
      show-arrows-on-hover
    >
      <v-carousel-item
        v-for="(slide, i) in slides"
        :key="i"
        :src="images[i]"
      >
        <v-row 
          class="fill-height body-2 white--text"
          align="center"
          justify="end"
          >
          <v-col cols="12" lg="5" md="6" sm="12" xs='12' style="background-color: rgb(169,169,169,0.3);">
            <div class="font-weight-black display-3">{{slide}}</div>
          </v-col>
        </v-row>
      </v-carousel-item>
    </v-carousel>

    <v-row>
      <v-col cols="12" lg="12" md="11" sm="12" xs='12'>
        <v-card
          class="mx-auto my-5"
          max-width="1000px"
        >
        <v-img
          class="white--text align-end"
          height="370px"
          src="https://www.meridionalfm.com.br/file/2020/01/Bonito-MS.jpg"
        >
          <v-card-title style="background-color: rgb(169,169,169,0.6);">
            <h1>{{texts.card1[0]}}</h1>      
          </v-card-title >
          <v-card-text class="font-italic" style="background-color: rgb(169,169,169,0.4);">
            <h3>{{texts.card1[1]}}</h3>
          </v-card-text>
        </v-img>

        <v-card-text class="text-justify text--primary subtitle-1" >
          <p>{{texts.card1[2]}}</p>
          <b>{{texts.card1[3]}}</b>
        </v-card-text>

        <v-card-actions>
            <v-btn
              color="orange"
              text
            >
              Explore!
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!-- OS MAIS VENDIDOS -->
    <v-row>
      <v-col cols='12'>
        <v-card
          max-width="1100"
          class="mx-auto"
          elevation='0'
        >
          <!-- TITULO - OS MAIS VENDIDOS -->
          <v-row justify='center' style="background-color: rgb(200,200,200,0.5);">
            <v-card-title class="headline">{{texts.card2.title}}</v-card-title>
            <v-avatar class="mt-2" color="rgb(200,200,200)">
              <v-icon color="black" large>mdi {{texts.card2.icon}}</v-icon>
            </v-avatar>
            <v-card-title class="body-2 text--secondary">{{texts.card2.subtitle}}</v-card-title>  
          </v-row>
        
          <!-- CARDS - OS MAIS VENDIDOS -->
          <v-card-actions>
            <v-row justify='center'> 
                <v-col cols='12' lg='4' md='4' sm='10' xs='10'
                  v-for="(item, i) in texts.card2.contents"
                  :key="i"
                  :src="texts.card2.contents[i]">
                  <v-hover
                    v-slot:default="{ hover }"
                    open-delay="100"
                  >
                    <v-card :elevation="hover ? 16 : 2">
                      <c-sell-card
                        :s_title="item[0]"
                        :s_subtitle="item[1]"
                        :s_description="item[2]"
                        :s_opcionais="item[3]"
                        :s_valores="item[4]"
                        :s_img="item[5]"
                        :s_show="item[6]"
                        :s_width="texts.card2.width"
                        s_btn1="Detalhes"
                        s_btn2="Reserve Já!"
                      />
                    </v-card>
                  </v-hover> 
                </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!-- OUTRAS OPCOES DE PASSEIOS -->
    <v-row 
      v-for="(card, i) in texts.card3"
      :key="i"
      :src="i">
    >
      <v-col cols='12'>
        <v-card
          max-width="1200"
          class="mx-auto"
          elevation='0'
        >
          <!-- TITULOS - OUTRAS OPCOES DE PASSEIOS -->
          <v-row justify='center' style="background-color: rgb(200,200,200,0.5);">
            <v-card-title class="headline">{{card.title}}</v-card-title>
            <v-avatar class="mt-2" color="rgb(180,180,180)">
              <v-icon color="black" large>mdi {{card.icon}}</v-icon>
            </v-avatar>
            <v-card-title class="body-2 text--secondary">{{card.subtitle}}</v-card-title>  
          </v-row>
        
          <!-- CARDS - OUTRAS OPCOES DE PASSEIOS -->
          <v-card-actions>
            <v-row justify='center'>
              <v-col cols='12' lg='3' md='4' sm='10'
                v-for="(item, j) in card.contents"
                :key="j"
                :src="j">
                <v-hover
                  v-slot:default="{ hover }"
                  open-delay="100"
                >
                  <v-card :elevation="hover ? 16 : 2">
                    <c-sell-card 
                      :s_title="item[0]"
                      :s_subtitle="item[1]"
                      :s_description="item[2]"
                      :s_opcionais="item[3]"
                      :s_valores="item[4]"
                      :s_img="item[5]"
                      :s_show="item[6]"
                      :s_width="card.width"
                      s_btn1="Detalhes"
                      s_btn2="Reserve Já!"
                      s_image_link="/hoteis"
                    />
                  </v-card>
                </v-hover>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// @ is an alias to /src
//import BaseSpinner from '../components/BaseSpinner'
import SellCard from '../components/SellCard'
export default {
  name: 'Home',
  hover: false,
  components: {
    'c-sell-card': SellCard,
  },
  mounted () {
    const db = this.$firebase.firestore();
    var homeRef = db.collection("home");
    var textsRef = db.collection("home").doc("texts");

    //@@@@---- ROTINA PARA INSERIR DADOS NO SERVIDOR;
    // homeRef.doc("hoteis").collection("estabelecimentos").doc("wetiga").collection('imagens').doc("estrutura").set({  
        
    // });

    // homeRef.doc('hoteis').collection("estabelecimentos").doc("aguas").update({
        
    // });

    //@@@@---- CARREGANDO IMAGENS E TEXTOS DO CAROUSEL
    homeRef.doc("carousel").get().then(doc => {
      if (doc.exists) {
        this.images = doc.data().images ;
        this.slides = doc.data().titles;
      } else {
        // doc.data() will be undefined in this case
        console.log("No such document! - images");
      }
    })

    //@@@@---- CARREGANDO TEXTOS DO CARD 1
    textsRef.collection("card1").doc("subtexts").get().then(doc => {
      if (doc.exists) {
        this.texts.card1 = doc.data().messeges;
      } else {
        // doc.data() will be undefined in this case
        console.log("No such document! - card1 - subtexts");
      }
    })

    //@@@@---- CARREGANDO MENSAGENS DO CARD 2
    textsRef.collection("card2").doc("configs").get().then(doc => {
      if (doc.exists) {
        for (const property in doc.data()) {
          this.texts.card2[property] = doc.data()[property];
        }
      } else {
        // doc.data() will be undefined in this case
        console.log("No such document! - card2 - configs");
      }
    })

    //@@@@---- CARREGANDO CARDS DO CARD 2
    textsRef.collection("card2").doc("contents").get().then(doc => {
      if (doc.exists) {
        this.texts.card2.contents = doc.data();
      } else {
        // doc.data() will be undefined in this case
        console.log("No such document! - card2 - contents");
      }
    })

    //@@@@---- CARREGANDO TODO CONTEÚDO DO CARD 3
    var i = -1;
    textsRef.collection("card3").get().then((querySnapshot) => {
      querySnapshot.forEach(cards => {
        i++;
        if (cards.exists) {
          //---- CARREGANDO CARDS DO CARD 3
          this.populateCard3(i, textsRef);
          //---- CARREGANDO MENSAGENS DO CARD 3
          for (const property in cards.data()) {
            this.texts.card3[i][property] = cards.data()[property];
          }
        } else {
        // doc.data() will be undefined in this case
        console.log("No such document! - card 3");
      }
      })
    })
  },
  data: () => ({
    actual: '',
    images: [],
    slides: [],
    texts: 
      {
        card1: [],
        card2: {
          title: '',
          subtitle:'',
          icon: '',
          width: '',
          contents: {}
        },
        card3: [
          {
            title: '',
            subtitle:'',
            icon: '',
            width: '',
            contents: []
          },
          {
            title: '',
            subtitle:'',
            icon: '',
            width: '',
            contents: []
          }, 
          {
            title: '',
            subtitle:'',
            icon: '',
            width: '',
            contents: []
          }
        ]
      },
  }),
  methods: {
    populateCard3 (j, textsRef) {
      textsRef.collection("card3").doc("0".concat(j+1)).collection("contents").get().then((subQuerySnapshot) => {
        subQuerySnapshot.forEach(docs => {
          if (docs.exists) {
            for (const sdproperty in docs.data()) {
              this.texts.card3[j].contents.push(docs.data()[sdproperty])
            }
          } else {
            // doc.data() will be undefined in this case
            console.log("No such document! - card3 - 01 - contents");
          }
        });
      })
    }
  }
}
</script>

<style scoped>
.carousel {
  opacity: 0.85;
}
</style>
