<template>
    <v-container class='mx-5'>
        <v-row
            class="mt-5"
        >
            <v-col>
                <v-card class='mt-5'>
                <h1>ESTA PAGINA É SOBRE</h1>
                <h2>Gastronomia</h2>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>