<template>
  <div>
    <!-- @@@-- Barra de Navegacao Superior -->
    <v-app-bar 
      class='c-app-bar' 
      elevate-on-scroll 
      color='rgb(201, 76, 76, 0.0)'
      dark 
      app 
      fixed 
      flat
    >
      <v-app-bar-nav-icon style="background-color: rgb(52, 60, 217,0.7);" class="mr-2 hidden-md-and-up" v-on:click="abrirMenu()"></v-app-bar-nav-icon>
      <v-toolbar-title id="div1" style="width: 400px" class="ml-0 pl-3">
        <v-row>
          <v-btn large :color="color.blue_strong_100" route to="/">
            <h3 class="font-weight-light">{{title.parte1}}</h3>
            <h3>{{title.parte2}}</h3>
          </v-btn>
          <c-login-button to="/" :color="color.blue_strong_100" class="hidden-sm-and-down"/>
        </v-row>
      </v-toolbar-title>
      
      <v-spacer></v-spacer>

      <!-- ## lado direito do toolbar -->
      <div class="hidden-sm-and-down">
        <v-menu
          color="grey darken-4"
          offset-y
          v-for="item in itens"
          :key="item.title"
        >
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" class="ma-1" large :color="color.blue_middle_85">
              <span>{{ item.title }}</span>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="subItem in item.itens"
              :key="subItem.title"
              :to="subItem.route"
            >
              <v-list-item-title >{{ subItem.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
      <c-language class="hidden-sm-and-down" /> <!-- botoes para trocar a lingua -->
    </v-app-bar>

    <!-- @@@-- Menu lateral -->
    <v-navigation-drawer
      v-model="drawer"
      style="opacity: 0.88;"
      src="https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg"
      :clipped="$vuetify.breakpoint.lgAndUp"
      fixed
      app
      temporary
    >
      <v-list-item>
        <!-- <v-list-item-avatar color="white">
          <v-img :src="logo"></v-img>
        </v-list-item-avatar> -->
        <v-list-item-content>
          <v-list-item-title>
            <h2 class="text-center mt-3" large :color="color.blue_strong_100" route to="/">
              <span class="font-weight-light white--text">{{title.parte1}}</span>
              <span class="white--text">{{title.parte2}}</span>
            </h2>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <c-login-button :color="color.blue_weak_65"/>
      <v-divider></v-divider>

      <v-list>
        <v-list-group v-for="item in itens" :key="item.title">
          <template v-slot:activator>
            <v-list-item-title class="white--text">{{ item.title }}</v-list-item-title>
          </template>
          <v-list no-action sub-group value="true">
            <v-list-item
              v-for="subItem in item.itens"
              :key="subItem.title"
              :to="subItem.route"
            >
              <v-list-item-title class="white--text">-> {{subItem.title}}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-list-group>
        <c-language class='text-center'/> <!-- botoes para trocar a lingua -->
      </v-list>
    </v-navigation-drawer>

    <c-login/>
  </div>
</template>

<script>
import Languages from "../components/Languages";
import LoginButton from "../components/LoginButton";
import Login from "../components/Login";
export default {
  name: 'AppBar',
  components: {
    'c-language': Languages,
    'c-login-button': LoginButton,
    'c-login': Login
  },

  data: () => ({
    drawer: false,
    title: { parte1: 'Guia', parte2: ' Bonito'},
    color: {
      blue_strong_100: 'rgb(40, 47, 199, 1)',
      blue_middle_85: 'rgb(52, 60, 217, 0.85)',
      blue_middle_70: 'rgb(52, 60, 217, 0.7)',
      blue_weak_65: 'rgb(80, 86, 191, 0.65)',

    },
    itens: [
      {
        title: "Bonito",
        itens: [
          { icon: "", title: "Como Chegar", route: "/chegar" },
          { icon: "", title: "Agências", route: "/agencias" },
          { icon: "", title: "Notícias", route: "/noticias" },
          { icon: "", title: "Gastronomia", route: "/gastronomia" },
          { icon: "", title: "Restaurantes", route: "/restaurantes" },
        ]
      }, 
      { title: "Turismo",
        itens: [
          { icon: "", title: "Balneários", route: "/balnearios" },
          { icon: "", title: "Cachoeiras", route: "/cachoeiras" },
          { icon: "", title: "Flutuação", route: "/flutuacao" },
          { icon: "", title: "Mergulho", route: "/mergulho" },
          { icon: "", title: "Grutas", route: "/grutas" },
          { icon: "", title: "Aventuras", route: "/aventuras" },
          { icon: "", title: "Urbanos", route: "/urbanos" },
        ]
      },
      { title: "Hotéis",
        itens: [
          { icon: "", title: "Hotéis e Pousadas", route: "/hoteis" },
          { icon: "", title: "Restaurantes", route: "/restaurantes" },
        ]
      },
      { title: "Fotos",
        itens: [
          { icon: "", title: "Galeria", route: "/galeria" },
        ]
      },
    ]
  }),

  methods: {
    abrirMenu() {
      this.drawer = !this.drawer;
    },
    isLoged () {
      return !window.uid;
    },
    async doLogout () {
      try {
        this.isLogin = true;
        await this.$firebase.auth().signOut();
        window.uid = null;
        this.$router.push({path: '/'});
      } catch (erro) {
        this.isLogin = false;
      }   
    }
  },
}
</script>
