<template>
  <div>
    <!-- Dialog do Botao do Carrinho -->
    <v-speed-dial
      class="my-5 mx-2"
      v-model="fab"
      bottom
      right
      absolute
      fixed
      direction="left"
      open-on-hover
      :transition="transition"
    >
      <template v-slot:activator>
        <v-btn large
          v-model="fab"
          color="blue darken-2"
          dark
          fab
          @click="dialog = !dialog"
        >
          <v-icon small v-if="fab">mdi-cart</v-icon>
          <v-icon large v-else>mdi-cart</v-icon>
        </v-btn>
      </template>
      <v-btn
        fab
        dark
        small
        color="green"
      >
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="indigo"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="red"
      >
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </v-speed-dial>

    <!-- Dialog do carrinho -->
    <v-row
        align="center"
        justify="center"
    >
        <v-col cols="8">
            <v-dialog
                v-model="dialog"
                max-width="500"
            > 
                <v-card class="elevation-12" >
                    <v-toolbar
                        color="blue"
                        dark
                        flat
                    >
                        <v-toolbar-title><h3 class="text-center font-weight-black">TITULO</h3></v-toolbar-title>
                        <div class="flex-grow-1"></div>
                    </v-toolbar>
                    <v-divider horizontal></v-divider>
                    <v-layout align-center>
                        <v-col class="text-center">
                        <!-- Botao de Cadastre-se-->
                        <p>
                            <font color="grey">isso</font>
                            <v-btn text color="#8B0000" dark>aquilo</v-btn>
                        </p>
                        </v-col>                    
                    </v-layout>
                </v-card>
            </v-dialog>  
        </v-col>
    </v-row>
  </div>
</template>

<script>
  export default {
    data: () => ({
      direction: 'top',
      fab: false,
      dialog: false,
      hover: false,
      transition: 'slide-x-transition',
    }),
    created () {
        this.$root.$on('ToCart::add')
    },

    computed: {
    },
  }
</script>