<template>
<div class="c-footer">
  <v-card class="white" height="140px">
    <v-footer absolute :padless="true">
      <v-card flat tile width="100%" color="rgb(40, 47, 210, 0.75)" class="text-center">
        <v-card-text>
          <v-btn
            v-for="icon in icons"
            :key="icon.icon"
            class="mx-4"
            icon
            :href="icon.link"
            target="_blank"
          >
            <v-icon color="white" size="24px">{{ icon.icon }}</v-icon>
          </v-btn>
        </v-card-text>

        <v-divider color="grey"></v-divider>

        <v-card-text class="white--text">
          Copyright © {{ new Date().getFullYear() }} —
          <strong>Guia Bonito MS</strong> &nbsp;
          <v-avatar color="grey lighten-4" size="20">
            <!-- <v-img :src="brasil"></v-img> -->
          </v-avatar>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-card>
</div>
</template>

<script>
export default {
  data: () => ({
    icons: [
    /*   { icon: "mdi-home", link: "/" }, */
      {
        icon: "mdi-email",
        link:
          "mailto:<bessa3@msn.com>bessa3@msn.com?subject='Contato CRCA Wing Chun'"
      },
      {
        icon: "mdi-facebook",
        link: "https://www.facebook.com/crca.brasil/"
      },
      {
        icon: "mdi-youtube",
        link: "http://bit.ly/CRCA-BR"
      }
    ]
  }),
  computed: {}
};
</script>