<template>
    <div class="c-login-button">
        <v-btn v-if="!logged" small class="mx-5" :color="color" @click="abrirDialog()"> 
            <v-icon dark>mdi-login-variant</v-icon>
            <span>Entrar/Cadastrar</span>
        </v-btn>
        <v-avatar v-if="logged" size="40">
            <v-img src="https://cdn.vuetifyjs.com/images/lists/2.jpg"></v-img>
        </v-avatar>
    </div>
</template>

<script>
export default {
    props: [
        'color',
    ],
    data: () => ({
        logged: false,
    }),
    methods: {
        abrirDialog () {
            this.$root.$emit('LoginDialog::show');
        }
    }
}
</script>