<template>
  <div class="snackbar">
    <v-snackbar
      v-model="show"
      :timeout=3000
      :color="color"
    >
      {{ text }}
      <v-btn
        color="blue"
        text
        @click="show = false"
      >Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  export default {
    props: [
        'text',
        'color', 
    ],
    data: () => ({
      show: true,
    }),
  }
</script>