<template>
    <div>
        <h1>PÁGINA DO USUÁRIO</h1>
    </div>
</template>

<script>
export default {
    name: 'UserPage',
    data: () => ({
    }),
    mounted () {
        // //na primeira vez que entrar no site, se nao estiver logado vai pra home
        // if (window.uid) {
        //     console.log("Parabéns você está logado")
        // } else {
        //     this.$router.push({ path:'/'});
        //     console.log("Oh Oh, parace que você não está logado")
        // }    
    },
    beforeRouteEnter (to, from, next) {
      //A instancia do vue ainda nao foi criada, por isso nao tem acesso ao this, usar vm ao inves
      next(vm => {
        if(!window.uid) {
          vm.$router.push({path: '/'})//se o usuario existir vai mandar pra home
        }
      })
    }
}
</script>