<template>
<!-- bloco que contem a pagina -->
  <v-app>
    <router-view/>
    <c-app-bar/>
    <c-footer/>
    <c-cart/>
  </v-app>
</template>

<script>
import Footer from "@/components/Footer";
import AppBar from '@/components/AppBar';
import Cart from '@/components/Cart.vue';
export default {
  name: 'App',
  components: {
    'c-app-bar': AppBar,
    'c-footer': Footer,
    'c-cart': Cart,
  },

  data: () => ({
    //
  }),
  mounted () {
    this.$firebase.auth().onAuthStateChanged(user => { 
      window.uid = user ? user.uid : null;

      //na primeira vez que entrar no site, se nao estiver logado vai pra home
      // if (window.uid) {
      //   this.$router.push({ name: window.uid ? 'home' : 'login'});
      // }
    });
  }
};
</script>
